
<header class="header shop">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-12">
          <!-- Top Left -->
          <div class="top-left">
            <ul class="list-main">
              <li><i class="ti-headphone-alt"></i> +060 (888) 4953-271</li>
              <li><i class="ti-email"></i> support@Laimperial.com</li>
            </ul>
          </div>
          <!--/ End Top Left -->
        </div>
        <div class="col-lg-8 col-md-12 col-12">
          <!-- Top Right -->
          <div class="right-content">
            <ul class="list-main">
              <li><i class="ti-location-pin"></i> Store location</li>
              <li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li>
              <li><i class="ti-user"></i> <a href="#">My account</a></li>
              <li><i class="ti-power-off"></i><a href="#">Login</a></li>
            </ul>
          </div>
          <!-- End Top Right -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
  <div class="middle-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-12">
          <!-- Logo -->
          <div class="logo">
            <a href="index.html"><img src="assets/img/img-logo/Green%20Minimalist%20Fresh%20Vegetables%20Online%20Shop%20Food%20Logo%20(1).png" alt="logo"></a>
          </div>
          <!--/ End Logo -->
          <!-- Search Form -->
          <div class="search-top">
            <div class="top-search"><a href="#"><i class="ti-search"></i></a></div>
            <!-- Search Form -->
            <div class="search-top">
              <form class="search-form">
                <input type="text" placeholder="Search here..." name="search">
                <button value="search" type="submit"><i class="ti-search"></i></button>
              </form>
            </div>
            <!--/ End Search Form -->
          </div>
          <!--/ End Search Form -->
          <div class="mobile-nav"></div>
        </div>
        <div class="col-lg-8 col-md-7 col-12">
          <div class="search-bar-top">
            <div class="search-bar">
              <select>
                <option selected="selected">All Category</option>
                <option>Washing machine </option>
                <option>Pot </option>
                <option>Air Conditioning </option>
                <option> Mop</option>
                <option> Kettle</option>
                <option> Table</option>
                <option> Chair</option>
              </select>
              <form>
                <input name="search" placeholder="Search Products Here....." type="search">
                <button class="btnn"><i class="ti-search"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12">
          <div class="right-bar">
            <!-- Search Form -->
            <div class="sinlge-bar">
              <a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
            </div>
            <div class="sinlge-bar">
              <a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
            </div>
            <div class="sinlge-bar shopping">
              <a href="#" class="single-icon"><i class="ti-bag"></i> <span class="total-count"></span></a>
              <!-- Shopping Item -->

              <!--/ End Shopping Item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  header-inner-->

  <div class="header-inner">
    <div class="container">
      <div class="cat-nav-head">
        <div class="row">
          <div class="col-lg-3">
            <div class="all-category">
              <h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
              <ul class="main-category">
                <li class="main-mega"><a href="#">Best selling <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  <ul class="mega-menu">
                    <li class="single-menu">
                      <a href="#" class="title-link">Kettle</a>
                      <div class="image">
                        <img src="225x155" alt="#">
                      </div>
                    </li>
                    <li class="single-menu">
                      <a href="#" class="title-link">Air Conditioning</a>
                      <div class="image">
                        <img src="h225x155" alt="#">
                      </div>
                    </li>
                    <li class="single-menu">
                      <a href="#" class="title-link">Washing machine</a>
                      <div class="image">
                        <img src="225x155" alt="#">
                      </div>
                    </li>
                  </ul>
                </li>
                <li><a href="#">Washing Machine</a></li>
                <li><a href="#"> Pot</a></li>
                <li><a href="#"> Air Conditioning</a></li>
                <li><a href="#">Mop </a></li>
                <li><a href="#"> Kettle</a></li>
                <li><a href="#">Table</a></li>
                <li><a href="#"> Chair</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-9 col-12">
            <div class="menu-area">
              <!-- Main Menu -->
              <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">
                  <div class="nav-inner">
                    <ul class="nav main-menu menu navbar-nav">
                      <li class="active"><a href="#">Home</a></li>
                      <li><a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
                        <ul class="dropdown">
                          <li><a href="shop-grid.html">Shop Grid</a></li>
                          <li><a href="cart.html">Cart</a></li>
                          <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Pages</a></li>
                      <li><a href="#">Blog<i class="ti-angle-down"></i></a>
                        <ul class="dropdown">
                          <li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
                        </ul>
                      </li>
                      <li><a href=" src/app/contact/contact.component.html">Contact Us</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
              <!--/ End Main Menu -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--end header-->

<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bread-inner">
          <ul class="bread-list">
            <li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
            <li class="active"><a href="blog-single.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Contact -->
<section id="contact-us" class="contact-us section">
  <div class="container">
    <div class="contact-head">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="form-main">
            <div class="title">
              <h4>Get in touch</h4>
              <h3>Write us a message</h3>
            </div>
            <form class="form" method="post" action="mail/mail.php">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Name<span>*</span></label>
                    <input name="name" type="text" placeholder="">
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Subjects<span>*</span></label>
                    <input name="subject" type="text" placeholder="">
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Email<span>*</span></label>
                    <input name="email" type="email" placeholder="">
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="form-group">
                    <label>Your Phone<span>*</span></label>
                    <input name="company_name" type="text" placeholder="">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group message">
                    <label>your message<span>*</span></label>
                    <textarea name="message" placeholder=""></textarea>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group button">
                    <button type="submit" class="btn ">Send Message</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="single-head">
            <div class="single-info">
              <i class="fa fa-phone"></i>
              <h4 class="title">Call us Now:</h4>
              <ul>
                <li>+032 3456 7890</li>
                <li>+522 672-452-1120</li>
              </ul>
            </div>
            <div class="single-info">
              <i class="fa fa-envelope-open"></i>
              <h4 class="title">Email:</h4>
              <ul>
                <li><a href="mailto:info@Laimpe.com">info@Laimpe.com</a></li>
              </ul>
            </div>
            <div class="single-info">
              <i class="fa fa-location-arrow"></i>
              <h4 class="title">Our Address:</h4>
              <ul>
                <li>8 Ton That Thuyet My Dinh, Nam Tu Liem, Hanoi.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ End Contact -->

<!-- Map Section -->
<div class="map-section">
  <div id="myMap"></div>
</div>
<!--/ End Map Section -->

<!-- Start Shop Newsletter  -->
<section class="shop-newsletter section">
  <div class="container">
    <div class="inner-top">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-12">
          <!-- Start Newsletter Inner -->
          <div class="inner">
            <h4>Newsletter</h4>
            <p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
            <form  method="get" target="_blank" class="newsletter-inner">
              <input name="EMAIL" placeholder="Your email address" required="" type="email">
              <button class="btn">Subscribe</button>
            </form>
          </div>
          <!-- End Newsletter Inner -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Shop Newsletter -->





<!--star foooter-->

<footer class="footer">
  <!-- Footer Top -->
  <div class="footer-top section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer about">
            <div class="logo">
              <a href="index.html"><img src="assets/img/img-logo/Green%20Minimalist%20Fresh%20Vegetables%20Online%20Shop%20Food%20Logo%20(1).png" alt="#"></a>
            </div>
            <p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue,  magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
            <p class="call">Got Question? Call us 24/7<span><a href="tel:123456789"> +060 (888) 4953-271</a></span></p>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4>Information</h4>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Faq</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="Contact.html">Contact Us</a></li>

              .....




              <li><a href="#">Help</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-2 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer links">
            <h4>Customer Service</h4>
            <ul>
              <li><a href="#">Payment Methods</a></li>
              <li><a href="#">Money-back</a></li>
              <li><a href="#">Returns</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <!-- Single Widget -->
          <div class="single-footer social">
            <h4>Get In Tuch</h4>
            <!-- Single Widget -->
            <div class="contact">
              <ul>
                <li>No. 8 Ton lost theory</li>
                <li>info@Laimpe.com</li>
                <li>+032 3456 7890</li>
              </ul>
            </div>
            <!-- End Single Widget -->
            <ul>
              <li><a href="#"><i class="ti-facebook"></i></a></li>
              <li><a href="#"><i class="ti-twitter"></i></a></li>
              <li><a href="#"><i class="ti-flickr"></i></a></li>
              <li><a href="#"><i class="ti-instagram"></i></a></li>
            </ul>
          </div>
          <!-- End Single Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Footer Top -->
  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="left">
              <p>2022 <a href="index.html" target="_blank">La-imperial</a>  </p>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="right">
              <img src="assets/img/img_foooter/payments.png" alt="#">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /End Footer Area -->









